# Web server and app logic
fastapi
uvicorn

# AI client
g4f[all]

# General utilities
dotenv
python-multipart
openpyxl
lxml

# File parsing and text extraction
textract
pytesseract
pdfminer.six
xlrd
python-pptx
python-docx
beautifulsoup4
ebooklib
SpeechRecognition
pocketsphinx
extract-msg
antiword
